#editProduct {
    margin-top: 2rem;
    padding: 9rem 0;

    .container {
        padding: 2rem;
        max-width: 800px;
        margin: 0 auto;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        h2 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
        }
    }

    form {
        .form-group {
            margin-bottom: 1.5rem;

            label {
                display: block;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            input[type="text"],
            textarea {
                width: 100%;
                padding: 0.75rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1rem;

                &:focus {
                    outline: none;
                    border-color: #007bff;
                    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                }
            }
        }

        button[type="submit"] {
            display: block;
            width: 100%;
            padding: 0.75rem;
            background-color: #007bff;
            color: #fff;
            font-weight: bold;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
    // Delete Button Styling
    .admin-single-delete {
        margin-top: 2rem;
        text-align: center;

        .delete-product-button {
            background-color: #dc3545;
            color: #fff;
            border: none;
            padding: 0.75rem;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #c82333;
            }
        }
    }
}
