@mixin button {
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    padding: 8px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-black {
    @include button;
    background-color: #000000;
    color: white;

    &:hover {
        background-color: white;
        color: black;
    }
}

.backButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.backButton:hover {
    background-color: #F3F6FF;
    color: black;
}

.shoppingCartButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.shoppingCartButton:hover {
    background-color: #333;
    color: white;
}