.favoriteButton {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    color: lightgray;
    background-color: white;
}

.favoriteButton::before {
    content: "\2661";
    color: black;
    font-size: 24px;
}

.favoriteButton.active::before {
    content: "\2665";
    color: black;
}

.favoriteButton.active:hover {
    transform: scale(1.1);
}